<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqDhI96CX8A2C8jy44LEcjKO5BaEd6lNA</string>
	<key>GCM_SENDER_ID</key>
	<string>531582160676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotificationPractice</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-pract-59548</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-pract-59548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531582160676:ios:9407e2bfbce42931a16db1</string>
</dict>
</plist>